* { box-sizing: border-box;}

body {
  margin: 0;
  font-family: cursive, Arial, sans-serif;
  background-color: rgb(0, 0, 0, 0.1);
  font-size: 16px;
}

/* Menu Section */
.menu-section {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  position: relative;
  display: inline-block;
  margin-right: 8%;
}

.menu-btn {
  background-color: rgb(0, 124, 0);
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
}

/* Menu Content (Hidden by Default) */
.menu-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 135px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the menu */
.menu-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

#menu-top-btn {   
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#menu-bottom-btn { 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-content a:hover {
  background-color: rgb(255, 255, 255);
}

/* .menu:hover .menu-content {
  display: block;
} */

.show {
  display: block;
}

.menu:hover .menu-btn {
  background-color: rgb(0, 70, 0);
}

/* Top Section */
.top {
  padding: 16px;
  margin-bottom: 50px;
  background-image: linear-gradient(to right bottom, rgba(162, 23, 255, 0.1), rgba(255, 0, 0, 0.1), rgba(165, 31, 255, 0.1));
}

.header {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 40px 0;
}
.about h2 {
  color: rgb(0, 0, 78);
}

/* This targets the front-end dev part */
.about p:first-of-type {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

.photo img {
  max-width: 200px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/* Work Status */

.work-status>p {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

.work-status>a {
  border: none;
  background-color: rgb(0, 124, 0);
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
}

.work-status>a:hover {
  background-color: rgb(0, 70, 0);
  cursor: pointer;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4);
}

/* Tech Stack */
.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 40px 30px 40px;
}

.stack>div {
  margin-left: 16px;
  margin-top: 10px;
  padding: 6px 12px;
  border-radius: 20px;
}

.javascript {background-color: rgb(255, 255, 0);}

.react {background-color: rgb(0, 183, 255);}

.tailwindcss { background-color: rgb(132, 0, 255); color: white;}

.html {background-color: rgb(255, 68, 0);}

.css {background-color: rgb(0, 0, 255); color: white;}

.git {background-color: black; color: white;}

.figma {background-color: rgb(0, 255, 0);}

.bottom-section {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgb(128, 0, 128, 0.1), rgb(128, 0, 128, 0.1), rgb(128, 0, 128, 0.15));
}


/* Passion Section */

.passions {
  display: grid;
  gap: 40px;
  grid-template-columns: auto;
  padding: 30px;
  text-align: center;
}

.passion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.04);
  padding: 20px;
  border-radius: 16px;
}

.passion>img {
  max-width: 40px;
  border-radius: 50%;
  opacity: 0.4;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: auto;
  gap: 40px;
  padding: 20px 30px;
}

.project {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  text-align: center;
  padding: 20px;
}

.project .live-demo {margin-top: 30px;}

.live-demo a {
  text-decoration: none;
  background-color: rgb(119, 0, 119, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
}

.live-demo a:hover {
  background-color: rgb(119, 0, 119, 0.8);
  cursor: pointer;
}

/* Get In Touch */
.get-in-touch {
  display: flex;
  flex-direction: column;
  padding: 10px 0 30px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.links a img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 42%;
  padding: 2px;
  border: none;
  margin-left: 12px;
}

.links a img:hover {
  background-color: rgb(0, 82, 0);
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: rgb(0, 0, 0, 0.04);
}

.back-to-top a {
  text-decoration: none;
  background-color: rgb(119, 0, 119, 0.6);
  color: white;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 14px;
}

.back-to-top a:hover {
  background-color: rgb(119, 0, 119, 0.8);
  cursor: pointer;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}

.copyright {
  color: rgb(0, 0, 0, 0.6);
}

/* Responsiveness */
@media screen and (min-width: 600px) {
  .passions { grid-template-columns: auto auto;}
  .projects { grid-template-columns: auto auto; }
 
}

@media screen and (min-width: 800px) {
  .header { flex-direction: row;}
  .passions { grid-template-columns: auto auto auto;}
  .projects { grid-template-columns: auto auto auto; }
}