@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0, 0.1);
  font-size: 16px;
  position: relative;
  color: rgb(50, 50, 50);
  line-height: 24px;
}

/* Menu Section */
.menu-section {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 40);
}

.menu {
  position: relative;
  display: inline-block;
  margin-right: 12%;
}

.menu-icon-container {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.menu-icon-container img {
  max-width: 20px;
  max-height: 18px;
  border-radius: 2px;
  outline: none;
}

/* Menu Content (Hidden by Default) */
.menu-content {
  display: none;
  position: absolute;
  padding: 0;
  background-color: rgb(0, 0, 50);
  min-width: 300px;
  right: 0;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 10px;
  text-align: center;
}

/* Links inside the menu */
.menu-content a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

#menu-top-btn {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#menu-bottom-btn {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu-content a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
}

.show {
  display: block;
}

/* Top Section */
.top {
  padding: 20px;
  margin: 48px 0 0 0;
  background-image: linear-gradient(to right bottom, rgba(162, 23, 255, 0.1), rgba(255, 0, 0, 0.1), rgba(160, 30, 255, 0.1));
}

.header {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 40px;
  background-color: rgb(240, 240, 240);
  padding: 70px 50px 0 50px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
}

.about h1 {
  font-weight: 600;
  color: rgb(70, 70, 70);
}

.about h2 {
  color: rgb(0, 0, 80, 0.8);
  font-weight: 450;
  font-size: 24px;
}

#fullstack {
  color: rgb(0, 73, 102);
  font-weight: 450;
  font-size: 20px;
}

.photo img {
  max-width: 220px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/* Work Status */
#work-status {
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(0, 45, 63);
  font-weight: 450;

}

.work-status>a {
  border: none;
  background-color: rgb(0, 100, 0);
  text-decoration: none;
  color: white;
  padding: 6px 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}

.work-status>a:hover {
  background-color: rgb(0, 110, 0);
  cursor: pointer;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
}

/* Tech Stack */
#tech-stack {
  margin-top: 30px;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 0;
  font-family: monospace;
  font-weight: 500;
  font-size: 14px;
}

.stack>div {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 20px;
}

.javascript {
  background-color: rgb(255, 255, 0);
}

.typescript {
  background-color: darkgreen;
  color: white;
}

.react {
  background-color: darkcyan;
  color: white;
}

.next-js {
  background-color: black;
  color: white;
}

.tailwindcss {
  background-color: darkmagenta;
  color: white;
}

.html {
  background-color: rgb(186, 50, 0);
  color: white;
}

.css {
  background-color: rgb(0, 0, 140);
  color: white;
}

.git {
  background-color: rgb(15, 15, 15);
  color: white;
}

.figma {
  background-color: rgb(6, 83, 79);
  color: white;
}

.node-js {
  background-color: darkolivegreen;
  color: white;
}

.mongodb {
  background-color: slategray;
  color: white;

}

.express {
  background-color: rgb(61, 61, 61);
  color: white;
}

.python {
  background-color: darkcyan;
  color: white;
}

.mysql {
  background-color: rgb(255, 255, 0);
}

.django {
  background-color: darkgreen;
  color: white;
}

.aws {
  background-color: mediumslateblue;
  color: white;
}

.redis {
  background-color: rgb(186, 50, 0);
  color: white;
}

.kubernetes {
  background-color: darkorchid;
  color: white;
}

.docker {
  background-color: rgb(49, 49, 49);
  color: white;
}

.nginx {
  background-color: chocolate;
  color: white;
}

.vitest {
  background-color: hotpink;
}

.sass {
  background-color: orange;
}

.bottom-section {
  background-color: rgba(135, 206, 235, 0.3);
}

/* Passion Section */

.passions {
  display: grid;
  gap: 30px;
  grid-template-columns: auto;
  padding: 25px;
  text-align: center;
}

.passion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
}

.passion>img {
  max-width: 25px;
  border-radius: 50%;
  opacity: 0.4;
}

.passion h3 {
  color: rgb(0, 0, 60);
  margin-bottom: 2px;
}

.projects-and-devgif {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px;
}

#devgif>img {
  max-width: 400px;
}
/* Projects */
.projects {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
}

.project-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.prev-btn>button:hover, .next-btn>button:hover {
cursor: pointer;
} 

.project-buttons {
  margin: 40px 0 10px 0;
}

.projects h3 {
  color: rgb(0, 0, 60);
}

.live-demo a {
  text-decoration: none;
  background-color: rgb(0, 107, 150);
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}

.live-demo a:hover {
  background-color: rgb(0, 135, 189);
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Get In Touch */
.get-in-touch {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

.get-in-touch h2 {
  margin-bottom: 30px;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.links a img {
  max-width: 35px;
  max-height: 35px;
  border-radius: 35%;
  padding: 2px;
  border: none;
  margin-left: 6px;
  margin-right: 6px;
}

.links a img:hover {
  background-color: rgb(0, 90, 0);
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  background-color: rgb(60, 60, 60, 0.1);
  margin-top: 5px;
}

.back-to-top a {
  text-decoration: none;
  background-color: rgb(0, 107, 150);
  color: white;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}

.back-to-top a:hover {
  background-color: rgb(0, 135, 189);
  cursor: pointer;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
}

.copyright {
  color: rgb(0, 0, 0);
}

/* Responsiveness */
@media screen and (min-width: 600px) {
  .passions {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 800px) {

  .header {
    flex-direction: row;
    text-align: start;
    padding: 80px 0 40px 0;
    column-gap: 50px;
    font-size: 18px;
    line-height: 26px;
  }

  .about {
    max-width: 50%;
    padding: 0 50px;
  }

  .about h1 {
    font-size: 35px;
  }

  .about h2 {
    font-size: 25px;
  }

  #fullstack {
    font-size: 22px;
  }

  .photo {
    padding: 0 50px;
  }

  .photo img {
    max-width: 250px;
  }

  .work-status>a {
    margin: 0 50px;
  }

  .stack {
    font-size: 16px;
    padding: 0 5%;
  }

  .stack>div {
    padding: 5px 10px;
  }

  .passions {
    grid-template-columns: auto auto auto;
  }

  .get-in-touch {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (min-width: 900px) {
  .about h1 {
    font-size: 45px;
  }

  .about h2 {
    font-size: 32px;
  }

  #fullstack {
    font-size: 24px;
  }

  .projects-and-devgif {
    grid-template-columns: auto auto;
    gap: 100px;
  }
}

@media screen and (min-width: 1000px) {
  .stack {
    padding: 0 10%;
  }
}