@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0, 0.1);
  font-size: 16px;
  position: relative;
}

/* Menu Section */
.menu-section {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 40);
}

.menu {
  position: relative;
  display: inline-block;
  margin-right: 12%;
}

.menu-btn {
  background-color: rgb(0, 124, 0);
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
}

/* Menu Content (Hidden by Default) */
.menu-content {
  display: none;
  position: absolute;
  padding: 0;
  background-color: rgb(0, 0, 50);
  min-width: 300px;
  right: 0;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 10px;
  text-align: center;
}

/* Links inside the menu */
.menu-content a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

#menu-top-btn {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#menu-bottom-btn {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu-content a:hover {
  background-color: rgb(0, 0, 30);
}

.show {
  display: block;
}

.menu:hover .menu-btn {
  background-color: rgb(0, 70, 0);
}

/* Top Section */
.top {
  padding: 20px;
  margin: 50px 0 30px 0;
  background-image: linear-gradient(to right bottom, rgba(162, 23, 255, 0.1), rgba(255, 0, 0, 0.1), rgba(165, 31, 255, 0.1));
}

.header {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 50px;
  background-color: rgb(240, 240, 240);
  padding: 80px 50px 0 50px;
  color: black;
}

.about h1 {
font-weight: 500;
margin-left: 16px;
}

.about h2 {
  color: rgb(0, 0, 80);
  font-weight: 500;
}

/* This targets the front-end dev and work status p tags*/
.about p:first-of-type {
  color: rgba(10, 10, 60, 0.7);
  font-weight: 500;
}

.photo img {
  max-width: 200px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/* Work Status */


.work-status>p {
  margin-top: 30px;
  margin-bottom: 20px;
}

.work-status>a {
  border: none;
  background-color: rgb(0, 124, 0);
  text-decoration: none;
  color: white;
  padding: 10px 12px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
}

.work-status>a:hover {
  background-color: rgb(0, 70, 0);
  cursor: pointer;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.4);
}

/* Tech Stack */

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 40px 20px 40px;
}

.stack>div {
  margin-left: 16px;
  margin-top: 8px;
  padding: 8px 14px;
  border-radius: 20px;
}

.javascript {
  background-color: rgb(255, 255, 0);
}

.react {
  background-color: rgb(0, 183, 255);
}

.tailwindcss {
  background-color: rgb(132, 0, 255);
  color: white;
}

.html {
  background-color: rgb(255, 68, 0);
}

.css {
  background-color: rgb(0, 0, 255);
  color: white;
}

.git {
  background-color: black;
  color: white;
}

.figma {
  background-color: rgb(0, 255, 0);
}

.bottom-section {
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1), rgb(0, 0, 255, 0.04), rgb(0, 0, 255, 0.08), rgb(0, 0, 255, 0.1));
}


/* Passion Section */

.passions {
  display: grid;
  gap: 40px;
  grid-template-columns: auto;
  padding: 30px;
  text-align: center;
}

.passion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 16px;
}

.passion>img {
  max-width: 25px;
  border-radius: 50%;
  opacity: 0.4;
}

.passion h3 {
  color: rgb(0, 0, 60);
  margin-bottom: 2px;
}


/* Projects */
.projects {
  display: grid;
  grid-template-columns: auto;
  gap: 40px;
  padding: 20px 30px;

}

.project {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 16px;
}

.project .live-demo {
  margin: 32px 0 10px 0;
}

.project h3 {
  color: rgb(0, 0, 60);
}

.live-demo a {
  text-decoration: none;
  background-color: rgb(119, 0, 119, 0.7);
  color: white;
  padding: 8px 12px;
  border-radius: 12px;
}

.live-demo a:hover {
  background-color: rgb(119, 0, 119, 0.9);
  cursor: pointer;
}

/* Get In Touch */
.get-in-touch {
  display: flex;
  flex-direction: column;
  padding: 10px 0 30px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.links a img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 42%;
  padding: 2px;
  border: none;
  margin-left: 12px;
}

.links a img:hover {
  background-color: rgb(0, 82, 0);
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: rgb(0, 0, 0, 0.04);
}

.back-to-top a {
  text-decoration: none;
  background-color: rgb(119, 0, 119, 0.7);
  color: white;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 14px;
}

.back-to-top a:hover {
  background-color: rgb(119, 0, 119, 0.9);
  cursor: pointer;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}

.copyright {
  color: rgb(0, 0, 0, 0.9);
}

/* Responsiveness */
@media screen and (min-width: 600px) {
  .passions {
    grid-template-columns: auto auto;
  }

  .projects {
    grid-template-columns: auto auto;
  }

}

@media screen and (min-width: 800px) {
  .menu:hover .menu-content {
    display: block;
  }  
  
  .header {
    flex-direction: row;
    text-align: start;
    padding: 80px 0 40px 0;
    column-gap: 50px;
  }

  .about {
    max-width: 50%;
    padding: 0 50px;
  }

  .photo {
    padding: 0 50px;
  }

  .photo img {
    max-width: 250px;
  }

  .work-status>a {
    margin: 0 50px;
  }

  .passions {
    grid-template-columns: auto auto auto;
  }

  .projects {
    grid-template-columns: auto auto auto;
  }
}